@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,300;0,400;0,800;1,400&family=Montserrat:wght@400;700&display=swap");

body,
html {
  /* background: rgb(255, 246, 91);
  background: linear-gradient(
    30deg,
    rgba(255, 246, 91, 1) 0%,
    rgba(255, 133, 76, 1) 30%,
    rgb(240, 105, 71) 100%
  ); */
  font-family: "Kanit", sans-serif;
}

body {
  min-height: 100vh;
}

.tab-content > .tab-pane {
  padding-inline: 1rem;
  padding-block: 0.5rem;
}

.tab-content > .tab-pane p {
  text-align: justify;
  text-justify: inter-word;
}

.nav-tabs {
  --bs-nav-tabs-border-color: black;
  --bs-nav-tabs-border-width: 1px;
  --bs-nav-tabs-link-hover-border-color: black;
  --bs-nav-tabs-link-active-color: #ffffff;
  --bs-nav-tabs-link-active-bg: black;
  --bs-nav-tabs-link-active-border-color: black;
}

.nav-link {
  color: black;
}

.nav {
  --bs-nav-link-color: #ffffff;
  --bs-nav-link-hover-color: black;
}

.tab-content {
  background-color: white;
}

.carousel-img {
  display: block;
  width: 550px;
  margin-inline: auto;
}

@media (max-width: 768px) {
  .carousel-img {
    width: 300px;
  }
}
