.body {
    height: 100vh;
    width: 100vw;
}

.box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: 0.2rem solid rgb(202, 185, 30);
    margin-left: 5%;
    margin-right: 5%; 
}

.img-test {
    display: inline;
    width: 25%;
    height: auto;
    border-radius: 5%;
    margin-block: 1%;
    margin-inline: 1%;
    border: 0.2rem solid rgb(34, 177, 177) ;
}
